<%- layout('./auth/authboilerplate.ejs') %>

    <section class="auth-container">
        <div class="container d-flex align-items-center justify-content-center min-vh-100">
            <div class="col-lg-5 col-md-8 col-sm-10 col-11">
                <div class="card " >
                    <div class="card-body py-4 px-4">
                        <h3 class="card-title text-center mb-4">Login</h3>
                        <form id="managerLogin" >
                            <div class="mb-3">
                                <label for="email" class="form-label small mb-0">Email address</label>
                                <input type="email" autocomplete="email" class="form-control form-control-sm" id="email"
                                    placeholder="Enter your email" name="email" >
                                <div id="emailError" class="small text-danger text-capitalize"
                                    style="font-size: .75rem;">

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label small mb-0">Password</label>
                                <input type="password" class="form-control form-control-sm" id="password"
                                    placeholder="Enter your password" autocomplete="password" >
                                <div id="passwordError" class="small text-danger text-capitalize"
                                    style="font-size: .75rem;" name="password">
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class=" btn btn-sm btn-primary">Login</button>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <p class="small text-secondary">Don't have an account? <a href="/user/signup"
                                    class="text-decoration-none text-dark">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="/script/managerLogin.js"></script>