<%- layout('./layout/boilerplate.ejs') %>

    <div class="container mt-3 px-0 px-md-5 py-5">
        <div class="card-header text-white mb-4">
            <h4>Submission Form</h4>
        </div>
        <div class="">
            <form  id="redoTask">
                <div class="mb-3">
                    <label for="uploadSubmission" class="form-label small">Upload Submission</label><span class="form-text uploadSubmissionError text-warning">  </span>
                    <input class="form-control form-control-sm" type="file" id="uploadSubmission"
                        name="submission" multiple>
                </div>
                <div class="mb-5">
                    <label for="report" class="form-label small">Report</label><span class="form-text reportError text-warning">  </span>
                    <textarea class="form-control form-control-sm" id="report" name="report" rows="3"></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-warning w-100 ">Submit</button>
                    <button class="btn btn-warning w-100 d-none loadingbtn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Loading...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const projectId = <%- JSON.stringify(projectId)%>
        const taskId = <%- JSON.stringify(taskId)%>
        const id = <%- JSON.stringify(id)%>
    </script>

    <script src="/script/submission/redoSubmission.js"></script>